# Зависимости
node_modules/

# Сборка
dist/
tmp/
out-tsc/
bazel-out/

# Кеш Angular CLI
.angular/
.sass-cache/

# Логи
*.log
npm-debug.log*
yarn-error.log*
lerna-debug.log*

# Тесты
coverage/
testem.log

# Переменные окружения
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/
.history/
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db
